In [31]:
# Notebook for downloading and initial investigation of data from "Our World In Data"
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.min_rows', 50)

import requests

import matplotlib.pyplot as plt
%matplotlib widget
plt.rcParams['figure.figsize'] = (12,8)
plt.rcParams["image.cmap"] = "tab10"
plt.rcParams['axes.prop_cycle'] = plt.cycler(color=plt.cm.tab10.colors)
fs_label = 16
parameters = {
                'axes.labelsize': fs_label,
                'axes.titlesize': fs_label+4,
                'xtick.labelsize': fs_label,
                'ytick.labelsize': fs_label, 
                'legend.fontsize': fs_label, 
                'lines.markersize': 10,
                'lines.linewidth': 3
             }
plt.rcParams.update(parameters)
%matplotlib widget
import matplotlib.colors as colors
from matplotlib import cm # Colormaps

cmap = cm.get_cmap('Dark2',7)

import locale
import matplotlib.dates as mdates
locale.setlocale(locale.LC_TIME,"Danish")
# ax = plt.gca()
# ax1.xaxis.set_major_formatter(mdates.DateFormatter('%b\n%Y'))
# # ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y \n %B'))


import os
import math

from datetime import date
import datetime

saveFigures = True
print('saveFigures is set to: '+str(saveFigures))
print('Done loading packages')

def rnMean(data,meanWidth):
    return np.convolve(data, np.ones(meanWidth)/meanWidth, mode='valid')
def rnTime(t,meanWidth):
    return t[math.floor(meanWidth/2):-math.ceil(meanWidth/2)+1]
def rnTime2(t,meanWidth):
    return t[meanWidth-1:]
def plotWithMean(ax,x,y,meanWidth):
    firstLine = ax.plot(x,y,'.:',markersize=2,linewidth=0.5)
    firstColor = firstLine[0].get_color()
    ax.plot(rnTime(x,meanWidth),rnMean(y,meanWidth),color=firstColor)

saveFigures is set to: True
Done loading packages

In [17]:
fileUrl = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
r = requests.get(fileUrl)
open('data/OWID_vaccinations.csv', 'wb').write(r.content)


fileUrl = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv'
r = requests.get(fileUrl)
open('data/OWID_data.csv', 'wb').write(r.content)


fileUrl = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/excess_mortality/excess_mortality.csv'
r = requests.get(fileUrl)
open('data/OWID_excess.csv', 'wb').write(r.content)


# World Mortality Dataset
fileUrl = 'https://raw.githubusercontent.com/akarlinsky/world_mortality/main/world_mortality.csv'
r = requests.get(fileUrl)
open('data/WMD_Mortality.csv', 'wb').write(r.content)

580200

In [3]:
vaccPath = './data/OWID_vaccinations.csv'

dfVacc = pd.read_csv(vaccPath)

dfVacc.date = pd.to_datetime(dfVacc.date)

In [4]:
# Check danish data
curdf = dfVacc[dfVacc.iso_code == 'DNK']
# curdf
curDates = curdf.date

curOnce = curdf['people_vaccinated']
curFull = curdf['people_fully_vaccinated']

fig,ax1 = plt.subplots()

DKpop =  5843347

ax1.fill_between(curDates,DKpop*np.ones(curOnce.shape),color='xkcd:grey')
ax1.fill_between(curDates,curOnce,color='xkcd:light green')
ax1.fill_between(curDates,curFull,color='g')

ax1.set_ylim([0,DKpop])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

(0.0, 5843347.0)

In [5]:
# dataPath = './data/OWID_excess.csv'
dataPath = './data/OWID_data.csv'

df = pd.read_csv(dataPath)

print(df.columns)
df.tail()

df.date = pd.to_datetime(df.date)

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [6]:
# df.tail()
# df.columns

In [8]:
# Check danish data
curdf = df[df.iso_code == 'DNK']
# curdf
curDates = curdf.date

dkCase = curdf['new_cases']

fig,ax1 = plt.subplots()


ax1.plot(curDates,dkCase,'.:',markersize=2,linewidth=0.5,color='k')
ax1.plot(rnTime(curDates,7),rnMean(dkCase,7),color='k')

# DKpop =  5843347
# ax1.set_ylim([0,DKpop])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [10]:
dataPath = './data/OWID_excess.csv'

df = pd.read_csv(dataPath)

print(df.columns)
df.tail()

df.date = pd.to_datetime(df.date)

Index(['location', 'date', 'p_scores_all_ages', 'p_scores_15_64',
       'p_scores_65_74', 'p_scores_75_84', 'p_scores_85plus',
       'deaths_2020_all_ages', 'average_deaths_2015_2019_all_ages',
       'deaths_2015_all_ages', 'deaths_2016_all_ages', 'deaths_2017_all_ages',
       'deaths_2018_all_ages', 'deaths_2019_all_ages', 'deaths_2010_all_ages',
       'deaths_2011_all_ages', 'deaths_2012_all_ages', 'deaths_2013_all_ages',
       'deaths_2014_all_ages', 'deaths_2021_all_ages', 'time', 'time_unit'],
      dtype='object')

In [188]:
# df.location.unique()
curdf = df[df.location == 'Denmark']



fig,ax1 = plt.subplots()
plotWithMean(ax1,curdf.date,curdf['deaths_2020_all_ages'],4)
plotWithMean(ax1,curdf.date,curdf['deaths_2021_all_ages'],4)
plotWithMean(ax1,curdf.date,curdf['average_deaths_2015_2019_all_ages'],4)
plotWithMean(ax1,curdf.date,curdf['deaths_2019_all_ages'],4)
plotWithMean(ax1,curdf.date,curdf['deaths_2018_all_ages'],4)
plotWithMean(ax1,curdf.date,curdf['deaths_2017_all_ages'],4)
plotWithMean(ax1,curdf.date,curdf['deaths_2016_all_ages'],4)
plotWithMean(ax1,curdf.date,curdf['deaths_2015_all_ages'],4)

# ax1.plot(curdf.date,curdf['deaths_2020_all_ages'],'.:')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [160]:
curDates = curdf.date
dates2021 = curDates[curDates >= np.datetime64('2021-01-06')][:-1]
dates2020 = curDates[curDates < np.datetime64('2021-01-06')]
# len(dates2021)
# len(curdf.deaths_2021_all_ages.dropna())
count2021 = curdf.deaths_2021_all_ages.dropna()
count2020 = curdf.deaths_2020_all_ages.dropna()

allDates = np.append(dates2020,dates2021)
allCount = np.append(count2020,count2021)

avgDates = np.append(dates2020,dates2020+np.timedelta64(371,'D'))
avgCount = curdf.average_deaths_2015_2019_all_ages.dropna()
avgCountFull = np.append(avgCount,avgCount)

numData = len(allDates)
avgComp = avgCountFull[:numData]

fig,ax1 = plt.subplots()
# ax1.plot(dates2020,count2020)
# ax1.plot(dates2021,count2021)
ax1.plot(allDates,allCount,'y')
ax1.plot(avgDates,avgCountFull,'k')
# ax1.plot(allDates,avgComp,'r')

allCountPos = allCount * ((allCount - avgComp) > 0  )
allCountPos[allCountPos == 0] = np.nan

allCountNeg = allCount * ((allCount - avgComp) < 0  )
allCountNeg[allCountNeg == 0] = np.nan

ax1.fill_between(allDates,allCountPos,avgComp,color='r') 
ax1.fill_between(allDates,allCountNeg,avgComp,color='g') 
# ax1.bar(allDates,allCountPos,color='r') 
# ax1.bar(allDates,allCountNeg,color='g') 
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [205]:
fig,ax1 = plt.subplots()

curDates = curdf.date
dates2021 = curDates[curDates >= np.datetime64('2021-01-06')][:-1]
dates2020 = curDates[curDates < np.datetime64('2021-01-06')]
count2021 = curdf.deaths_2021_all_ages.dropna()
count2020 = curdf.deaths_2020_all_ages.dropna()

allDates = np.append(dates2020,dates2021)
allCount = np.append(count2020,count2021)

avgDates = np.append(dates2020,dates2020+np.timedelta64(371,'D'))
avgCount = curdf.average_deaths_2015_2019_all_ages.dropna()
avgCountFull = np.append(avgCount,avgCount)

numData = len(allDates)
avgComp = avgCountFull[:numData]


allCountPos = allCount * ((allCount - avgComp) > 0  )
allCountPos[allCountPos == 0] = np.nan

allCountNeg = allCount * ((allCount - avgComp) < 0  )
allCountNeg[allCountNeg == 0] = np.nan

allCountNeg = allCount * ((allCount - avgComp) < 0  )
curIndex = (allCountNeg == 0)
allCountNeg[curIndex]  = avgComp[curIndex]
allCountNeg


ax1.bar(allDates,allCount,width=np.timedelta64(7,'D'),color='r',label='Excess')
ax1.bar(allDates,avgComp,width=np.timedelta64(7,'D'),color='w',edgecolor='k',linewidth=3)
ax1.bar(allDates,avgComp,width=np.timedelta64(7,'D'),color='g',label='Negative excess')
ax1.bar(allDates,allCountNeg,width=np.timedelta64(7,'D'),color='w')


# ax1.plot(avgDates,avgCountFull,color='k')

ax1.plot(avgDates,avgCountFull*np.nan,color='k',label='Average 2015-2019')
# ax1.bar(allDates,(allCount-avgComp),bottom=avgComp,width=np.timedelta64(7,'D'),color='r')
# ax1.bar(allDates,(avgComp-allCount),bottom=allCount,width=np.timedelta64(7,'D'),color='g')

ax1.set_ylim([min(allCount)*0.9,max(allCount)*1.1])
# ax1.set_xlim([allDates[0],allDates[-1]])
ax1.set_xlim(right=allDates[-1])
ax1.set_xlim(left=np.datetime64('2020-01-01'))

# ax1.fill_between(allDates,allCount,avgComp,color='g') 
# ax1.fill_between(allDates,allCount,avgComp,color='r')
# ax1.fill_between(avgDates,avgCountFull,color='w')
# ax1.fill_between(allDates,allCountNeg,avgComp,color='g') 

ax1.xaxis.set_major_formatter(mdates.DateFormatter('%b\n%Y'))

ax1.set_ylabel('Mortality count')
ax1.legend()

if saveFigures:
    plt.savefig('figs/ExcessMortality_DK')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [166]:


# # ax1.fill_between(allDates,allCount,color='r')

# # ax1.fill_between(allDates,allCount,avgComp,color='g') 
# # ax1.fill_between(allDates,allCount,avgComp,color='r')
# # ax1.fill_between(avgDates,avgCountFull,color='w')
# # ax1.fill_between(allDates,allCountNeg,avgComp,color='g') 


# # allCountNeg = allCount * ((allCount - avgComp) < 0  )
# # allCountNeg[allCountNeg == 0] = np.nan 

# # ax1.fill_between(allDates,allCount,avgComp,color='g') 
# # ax1.fill_between(allDates,,color='w') 

# # ax1.plot(avgDates,avgCountFull,color='k')
# # # allDates = np.append(dates2020,dates2021)
# # allCount = np.append(count2020,count2021)
# # allCount

# # curdf
# # len(curdf.average_deaths_2015_2019_all_ages.dropna())
# # avgDates
# curdf

# allCountPos = allCount * ((allCount - avgComp) > 0  )
# allCountPos[allCountPos == 0] = np.nan
# allCountPos


allCountNeg = allCount * ((allCount - avgComp) < 0  )
curIndex = (allCountNeg == 0)
allCountNeg[curIndex]  = avgComp[curIndex]
allCountNeg

array([1117. , 1115. , 1071. , 1033. , 1094. , 1079. , 1059. , 1034. ,
       1025. , 1061. , 1066. , 1122.2, 1085.2, 1055.6, 1068.6, 1025.4,
        983.2, 1034.8, 1013.8,  951. ,  968.2,  968. ,  962. ,  974. ,
        948. ,  929.8,  942.6,  942.8,  958. ,  944. ,  965.8,  956.4,
        944.2,  969.2,  941. ,  942. ,  950.2,  965.2,  974. ,  970.4,
        938. ,  982.8,  983.8,  979. ,  996.4, 1018.2, 1019.2, 1041.8,
       1080.8, 1070.6, 1056. , 1064.2, 1064.2, 1121.4, 1115. , 1102.4,
       1100. , 1149.2, 1112. , 1061. ,  969. ,  974. , 1051. ,  966. ,
       1033. ,  972. ,  972. , 1030. , 1025.4,  983.2, 1034.8, 1013.8,
        972.8,  968.2,  969.2,  971.4,  974. ,  969.8,  929.8,  938. ])

In [204]:
dataPath = './data/WMD_Mortality.csv'

df = pd.read_csv(dataPath)

print(df.columns)
df.tail()

df[df.country_name == 'Denmark']

Index(['country_name', 'year', 'time', 'time_unit', 'deaths'], dtype='object')

     country_name  year  time time_unit  deaths
4257      Denmark  2015     1    weekly  1127.0
4258      Denmark  2015     2    weekly  1108.0
4259      Denmark  2015     3    weekly  1093.0
4260      Denmark  2015     4    weekly  1068.0
4261      Denmark  2015     5    weekly  1086.0
4262      Denmark  2015     6    weekly  1118.0
4263      Denmark  2015     7    weekly  1106.0
4264      Denmark  2015     8    weekly  1131.0
4265      Denmark  2015     9    weekly  1177.0
4266      Denmark  2015    10    weekly  1210.0
4267      Denmark  2015    11    weekly  1184.0
4268      Denmark  2015    12    weekly  1086.0
4269      Denmark  2015    13    weekly  1093.0
4270      Denmark  2015    14    weekly  1044.0
4271      Denmark  2015    15    weekly  1081.0
4272      Denmark  2015    16    weekly  1052.0
4273      Denmark  2015    17    weekly   934.0
4274      Denmark  2015    18    weekly   996.0
4275      Denmark  2015    19    weekly   978.0
4276      Denmark  2015    20    weekly   921.0
4277      Denmark  2015    21    weekly   974.0
4278      Denmark  2015    22    weekly   977.0
4279      Denmark  2015    23    weekly   959.0
4280      Denmark  2015    24    weekly  1017.0
4281      Denmark  2015    25    weekly   913.0
4282      Denmark  2015    26    weekly   897.0
4283      Denmark  2015    27    weekly   942.0
4284      Denmark  2015    28    weekly   951.0
4285      Denmark  2015    29    weekly   917.0
4286      Denmark  2015    30    weekly   951.0
4287      Denmark  2015    31    weekly   947.0
4288      Denmark  2015    32    weekly   929.0
4289      Denmark  2015    33    weekly   953.0
4290      Denmark  2015    34    weekly   926.0
4291      Denmark  2015    35    weekly   901.0
4292      Denmark  2015    36    weekly   879.0
4293      Denmark  2015    37    weekly   913.0
4294      Denmark  2015    38    weekly   942.0
4295      Denmark  2015    39    weekly   963.0
4296      Denmark  2015    40    weekly   959.0
4297      Denmark  2015    41    weekly   927.0
4298      Denmark  2015    42    weekly   948.0
4299      Denmark  2015    43    weekly   997.0
4300      Denmark  2015    44    weekly   993.0
4301      Denmark  2015    45    weekly   971.0
4302      Denmark  2015    46    weekly   985.0
4303      Denmark  2015    47    weekly   986.0
4304      Denmark  2015    48    weekly  1083.0
4305      Denmark  2015    49    weekly  1105.0
4306      Denmark  2015    50    weekly  1033.0
4307      Denmark  2015    51    weekly  1024.0
4308      Denmark  2015    52    weekly   994.0
4309      Denmark  2015    53    weekly   986.0
4310      Denmark  2016     1    weekly  1103.0
4311      Denmark  2016     2    weekly  1065.0
4312      Denmark  2016     3    weekly  1046.0
4313      Denmark  2016     4    weekly  1124.0
4314      Denmark  2016     5    weekly  1083.0
4315      Denmark  2016     6    weekly  1040.0
4316      Denmark  2016     7    weekly  1062.0
4317      Denmark  2016     8    weekly  1124.0
4318      Denmark  2016     9    weekly  1143.0
4319      Denmark  2016    10    weekly  1149.0
4320      Denmark  2016    11    weekly  1159.0
4321      Denmark  2016    12    weekly  1074.0
4322      Denmark  2016    13    weekly  1084.0
4323      Denmark  2016    14    weekly  1023.0
4324      Denmark  2016    15    weekly  1071.0
4325      Denmark  2016    16    weekly  1010.0
4326      Denmark  2016    17    weekly   985.0
4327      Denmark  2016    18    weekly  1042.0
4328      Denmark  2016    19    weekly  1023.0
4329      Denmark  2016    20    weekly   935.0
4330      Denmark  2016    21    weekly   975.0
4331      Denmark  2016    22    weekly   953.0
4332      Denmark  2016    23    weekly   913.0
4333      Denmark  2016    24    weekly   920.0
4334      Denmark  2016    25    weekly   983.0
4335      Denmark  2016    26    weekly   897.0
4336      Denmark  2016    27    weekly   924.0
4337      Denmark  2016    28    weekly   898.0
4338      Denmark  2016    29    weekly   971.0
4339      Denmark  2016    30    weekly   962.0
4340      Denmark  2016    31    weekly   902.0
4341      Denmark  2016    32    weekly   956.0
4342      Denmark  2016    33    weekly   914.0
4343      Denmark  2016    34    weekly   971.0
4344      Denmark  2016    35    weekly   922.0
4345      Denmark  2016    36    weekly   955.0
4346      Denmark  2016    37    weekly   932.0
4347      Denmark  2016    38    weekly   904.0
4348      Denmark  2016    39    weekly   983.0
4349      Denmark  2016    40    weekly   910.0
4350      Denmark  2016    41    weekly  1022.0
4351      Denmark  2016    42    weekly  1040.0
4352      Denmark  2016    43    weekly   989.0
4353      Denmark  2016    44    weekly  1003.0
4354      Denmark  2016    45    weekly  1017.0
4355      Denmark  2016    46    weekly  1045.0
4356      Denmark  2016    47    weekly  1046.0
4357      Denmark  2016    48    weekly  1010.0
4358      Denmark  2016    49    weekly  1043.0
4359      Denmark  2016    50    weekly  1067.0
4360      Denmark  2016    51    weekly  1060.0
4361      Denmark  2016    52    weekly  1149.0
4362      Denmark  2017     1    weekly  1113.0
4363      Denmark  2017     2    weekly  1111.0
4364      Denmark  2017     3    weekly  1099.0
4365      Denmark  2017     4    weekly  1104.0
4366      Denmark  2017     5    weekly  1211.0
4367      Denmark  2017     6    weekly  1100.0
4368      Denmark  2017     7    weekly  1228.0
4369      Denmark  2017     8    weekly  1156.0
4370      Denmark  2017     9    weekly  1179.0
4371      Denmark  2017    10    weekly  1101.0
4372      Denmark  2017    11    weekly  1132.0
4373      Denmark  2017    12    weekly  1126.0
4374      Denmark  2017    13    weekly  1041.0
4375      Denmark  2017    14    weekly   988.0
4376      Denmark  2017    15    weekly  1009.0
4377      Denmark  2017    16    weekly   967.0
4378      Denmark  2017    17    weekly   974.0
4379      Denmark  2017    18    weekly  1059.0
4380      Denmark  2017    19    weekly  1015.0
4381      Denmark  2017    20    weekly  1022.0
4382      Denmark  2017    21    weekly   969.0
4383      Denmark  2017    22    weekly   956.0
4384      Denmark  2017    23    weekly   985.0
4385      Denmark  2017    24    weekly  1023.0
4386      Denmark  2017    25    weekly   980.0
4387      Denmark  2017    26    weekly   938.0
4388      Denmark  2017    27    weekly   905.0
4389      Denmark  2017    28    weekly   941.0
4390      Denmark  2017    29    weekly   931.0
4391      Denmark  2017    30    weekly   925.0
4392      Denmark  2017    31    weekly   934.0
4393      Denmark  2017    32    weekly   932.0
4394      Denmark  2017    33    weekly   906.0
4395      Denmark  2017    34    weekly   953.0
4396      Denmark  2017    35    weekly   951.0
4397      Denmark  2017    36    weekly   918.0
4398      Denmark  2017    37    weekly   991.0
4399      Denmark  2017    38    weekly   979.0
4400      Denmark  2017    39    weekly   983.0
4401      Denmark  2017    40    weekly   978.0
4402      Denmark  2017    41    weekly   985.0
4403      Denmark  2017    42    weekly   970.0
4404      Denmark  2017    43    weekly   934.0
4405      Denmark  2017    44    weekly   976.0
4406      Denmark  2017    45    weekly   956.0
4407      Denmark  2017    46    weekly  1070.0
4408      Denmark  2017    47    weekly  1011.0
4409      Denmark  2017    48    weekly  1027.0
4410      Denmark  2017    49    weekly  1067.0
4411      Denmark  2017    50    weekly  1102.0
4412      Denmark  2017    51    weekly  1058.0
4413      Denmark  2017    52    weekly  1134.0
4414      Denmark  2018     1    weekly  1134.0
4415      Denmark  2018     2    weekly  1136.0
4416      Denmark  2018     3    weekly  1156.0
4417      Denmark  2018     4    weekly  1119.0
4418      Denmark  2018     5    weekly  1157.0
4419      Denmark  2018     6    weekly  1186.0
4420      Denmark  2018     7    weekly  1265.0
4421      Denmark  2018     8    weekly  1260.0
4422      Denmark  2018     9    weekly  1323.0
4423      Denmark  2018    10    weekly  1337.0
4424      Denmark  2018    11    weekly  1253.0
4425      Denmark  2018    12    weekly  1286.0
4426      Denmark  2018    13    weekly  1186.0
4427      Denmark  2018    14    weekly  1138.0
4428      Denmark  2018    15    weekly  1164.0
4429      Denmark  2018    16    weekly  1052.0
4430      Denmark  2018    17    weekly  1008.0
4431      Denmark  2018    18    weekly  1010.0
4432      Denmark  2018    19    weekly  1025.0
4433      Denmark  2018    20    weekly  1012.0
4434      Denmark  2018    21    weekly   953.0
4435      Denmark  2018    22    weekly   977.0
4436      Denmark  2018    23    weekly  1009.0
4437      Denmark  2018    24    weekly   941.0
4438      Denmark  2018    25    weekly   958.0
4439      Denmark  2018    26    weekly   915.0
4440      Denmark  2018    27    weekly  1007.0
4441      Denmark  2018    28    weekly   971.0
4442      Denmark  2018    29    weekly   994.0
4443      Denmark  2018    30    weekly  1091.0
4444      Denmark  2018    31    weekly  1084.0
4445      Denmark  2018    32    weekly  1029.0
4446      Denmark  2018    33    weekly  1017.0
4447      Denmark  2018    34    weekly   990.0
4448      Denmark  2018    35    weekly   935.0
4449      Denmark  2018    36    weekly   975.0
4450      Denmark  2018    37    weekly   949.0
4451      Denmark  2018    38    weekly   994.0
4452      Denmark  2018    39    weekly   950.0
4453      Denmark  2018    40    weekly  1033.0
4454      Denmark  2018    41    weekly   992.0
4455      Denmark  2018    42    weekly   958.0
4456      Denmark  2018    43    weekly   973.0
4457      Denmark  2018    44    weekly  1007.0
4458      Denmark  2018    45    weekly   992.0
4459      Denmark  2018    46    weekly   954.0
4460      Denmark  2018    47    weekly   996.0
4461      Denmark  2018    48    weekly   994.0
4462      Denmark  2018    49    weekly  1085.0
4463      Denmark  2018    50    weekly  1044.0
4464      Denmark  2018    51    weekly  1096.0
4465      Denmark  2018    52    weekly  1006.0
4466      Denmark  2019     1    weekly  1130.0
4467      Denmark  2019     2    weekly  1155.0
4468      Denmark  2019     3    weekly  1118.0
4469      Denmark  2019     4    weekly  1085.0
4470      Denmark  2019     5    weekly  1209.0
4471      Denmark  2019     6    weekly  1250.0
4472      Denmark  2019     7    weekly  1176.0
4473      Denmark  2019     8    weekly  1110.0
4474      Denmark  2019     9    weekly  1090.0
4475      Denmark  2019    10    weekly  1051.0
4476      Denmark  2019    11    weekly  1063.0
4477      Denmark  2019    12    weekly  1039.0
4478      Denmark  2019    13    weekly  1022.0
4479      Denmark  2019    14    weekly  1085.0
4480      Denmark  2019    15    weekly  1018.0
4481      Denmark  2019    16    weekly  1046.0
4482      Denmark  2019    17    weekly  1015.0
4483      Denmark  2019    18    weekly  1067.0
4484      Denmark  2019    19    weekly  1028.0
4485      Denmark  2019    20    weekly   974.0
4486      Denmark  2019    21    weekly   970.0
4487      Denmark  2019    22    weekly   983.0
4488      Denmark  2019    23    weekly   991.0
4489      Denmark  2019    24    weekly   969.0
4490      Denmark  2019    25    weekly  1015.0
4491      Denmark  2019    26    weekly  1002.0
4492      Denmark  2019    27    weekly   935.0
4493      Denmark  2019    28    weekly   953.0
4494      Denmark  2019    29    weekly   977.0
4495      Denmark  2019    30    weekly   967.0
4496      Denmark  2019    31    weekly   962.0
4497      Denmark  2019    32    weekly   936.0
4498      Denmark  2019    33    weekly   931.0
4499      Denmark  2019    34    weekly  1006.0
4500      Denmark  2019    35    weekly   996.0
4501      Denmark  2019    36    weekly   983.0
4502      Denmark  2019    37    weekly   966.0
4503      Denmark  2019    38    weekly  1007.0
4504      Denmark  2019    39    weekly  1016.0
4505      Denmark  2019    40    weekly   972.0
4506      Denmark  2019    41    weekly  1033.0
4507      Denmark  2019    42    weekly   998.0
4508      Denmark  2019    43    weekly  1026.0
4509      Denmark  2019    44    weekly   954.0
4510      Denmark  2019    45    weekly  1046.0
4511      Denmark  2019    46    weekly  1037.0
4512      Denmark  2019    47    weekly  1057.0
4513      Denmark  2019    48    weekly  1095.0
4514      Denmark  2019    49    weekly  1104.0
4515      Denmark  2019    50    weekly  1107.0
4516      Denmark  2019    51    weekly  1042.0
4517      Denmark  2019    52    weekly  1038.0
4518      Denmark  2020     1    weekly  1117.0
4519      Denmark  2020     2    weekly  1150.0
4520      Denmark  2020     3    weekly  1071.0
4521      Denmark  2020     4    weekly  1033.0
4522      Denmark  2020     5    weekly  1094.0
4523      Denmark  2020     6    weekly  1079.0
4524      Denmark  2020     7    weekly  1059.0
4525      Denmark  2020     8    weekly  1034.0
4526      Denmark  2020     9    weekly  1025.0
4527      Denmark  2020    10    weekly  1061.0
4528      Denmark  2020    11    weekly  1066.0
4529      Denmark  2020    12    weekly  1140.0
4530      Denmark  2020    13    weekly  1112.0
4531      Denmark  2020    14    weekly  1156.0
4532      Denmark  2020    15    weekly  1143.0
4533      Denmark  2020    16    weekly  1078.0
4534      Denmark  2020    17    weekly  1086.0
4535      Denmark  2020    18    weekly  1048.0
4536      Denmark  2020    19    weekly  1027.0
4537      Denmark  2020    20    weekly   951.0
4538      Denmark  2020    21    weekly   994.0
4539      Denmark  2020    22    weekly   968.0
4540      Denmark  2020    23    weekly   962.0
4541      Denmark  2020    24    weekly  1000.0
4542      Denmark  2020    25    weekly   948.0
4543      Denmark  2020    26    weekly   984.0
4544      Denmark  2020    27    weekly   996.0
4545      Denmark  2020    28    weekly   957.0
4546      Denmark  2020    29    weekly  1026.0
4547      Denmark  2020    30    weekly   944.0
4548      Denmark  2020    31    weekly   983.0
4549      Denmark  2020    32    weekly   957.0
4550      Denmark  2020    33    weekly   993.0
4551      Denmark  2020    34    weekly   995.0
4552      Denmark  2020    35    weekly   953.0
4553      Denmark  2020    36    weekly   985.0
4554      Denmark  2020    37    weekly   984.0
4555      Denmark  2020    38    weekly  1082.0
4556      Denmark  2020    39    weekly   974.0
4557      Denmark  2020    40    weekly   996.0
4558      Denmark  2020    41    weekly   938.0
4559      Denmark  2020    42    weekly  1008.0
4560      Denmark  2020    43    weekly  1096.0
4561      Denmark  2020    44    weekly   979.0
4562      Denmark  2020    45    weekly  1026.0
4563      Denmark  2020    46    weekly  1097.0
4564      Denmark  2020    47    weekly  1082.0
4565      Denmark  2020    48    weekly  1097.0
4566      Denmark  2020    49    weekly  1105.0
4567      Denmark  2020    50    weekly  1095.0
4568      Denmark  2020    51    weekly  1273.0
4569      Denmark  2020    52    weekly  1212.0
4570      Denmark  2020    53    weekly  1258.0
4571      Denmark  2021     1    weekly  1233.0
4572      Denmark  2021     2    weekly  1213.0
4573      Denmark  2021     3    weekly  1269.0
4574      Denmark  2021     4    weekly  1217.0
4575      Denmark  2021     5    weekly  1207.0
4576      Denmark  2021     6    weekly  1112.0
4577      Denmark  2021     7    weekly  1061.0
4578      Denmark  2021     8    weekly   969.0
4579      Denmark  2021     9    weekly   974.0
4580      Denmark  2021    10    weekly  1051.0
4581      Denmark  2021    11    weekly   966.0
4582      Denmark  2021    12    weekly  1033.0
4583      Denmark  2021    13    weekly   972.0
4584      Denmark  2021    14    weekly   972.0
4585      Denmark  2021    15    weekly  1030.0
4586      Denmark  2021    16    weekly  1058.0
4587      Denmark  2021    17    weekly  1012.0
4588      Denmark  2021    18    weekly  1120.0
4589      Denmark  2021    19    weekly  1045.0
4590      Denmark  2021    20    weekly  1048.0
4591      Denmark  2021    21    weekly  1029.0
4592      Denmark  2021    22    weekly  1029.0
4593      Denmark  2021    23    weekly  1049.0
4594      Denmark  2021    24    weekly   999.0
4595      Denmark  2021    25    weekly  1001.0
4596      Denmark  2021    26    weekly  1060.0
4597      Denmark  2021    27    weekly   938.0
4598      Denmark  2021    28    weekly  1057.0