In [1]:
# Notebook for investigating dashboard data
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.min_rows', 50)


import matplotlib.pyplot as plt
%matplotlib widget
plt.rcParams['figure.figsize'] = (12,8)
plt.rcParams["image.cmap"] = "tab10"
plt.rcParams['axes.prop_cycle'] = plt.cycler(color=plt.cm.tab10.colors)
#Settings for plotting
fs_label = 16
parameters = {
                'axes.labelsize': fs_label,
                'axes.titlesize': fs_label+4,
                'xtick.labelsize': fs_label,
                'ytick.labelsize': fs_label, 
                'legend.fontsize': fs_label, 
                'lines.markersize': 10,
                'lines.linewidth': 3
             }
plt.rcParams.update(parameters)

%matplotlib widget
import matplotlib.colors as colors
from matplotlib import cm # Colormaps

import locale
import matplotlib.dates as mdates
locale.setlocale(locale.LC_TIME,"Danish")
locale.setlocale(locale.LC_ALL,"Danish")

## Useful commands to copy:
# cmap = plt.cm.get_cmap('Dark2',len(ageGroups))
# ax1.xaxis.set_major_formatter(mdates.DateFormatter('%b\n%Y'))
# ax1.xaxis.set_major_formatter(mdates.DateFormatter('%d\n%b'))
# plt.rcParams["image.cmap"] = "Dark2"
# plt.rcParams['axes.prop_cycle'] = plt.cycler(color=plt.cm.Dark2.colors)

import os
import math

from datetime import date


saveFigures = True
print('saveFigures is set to: '+str(saveFigures))

print('Done loading packages')

def rnMean(data,meanWidth):
    return np.convolve(data, np.ones(meanWidth)/meanWidth, mode='valid')
def rnTime(t,meanWidth):
    return t[math.floor(meanWidth/2):-math.ceil(meanWidth/2)+1]

saveFigures is set to: True
Done loading packages

In [2]:
# Get the most recent file
ssidatapath = "ssi_dashboard"
rootdir = os.getcwd() +"/" + ssidatapath


for subdir, dirs, files in os.walk(rootdir):
    if not len(files) == 0:
        latestdir = subdir
        linkIni = latestdir.find('SSI_dashboard_')
        latestDate = latestdir[linkIni+14:linkIni+24]

print(latestdir)
print(latestDate)

d:\Pandemix\Github\DanskeData/ssi_dashboard\SSI_dashboard_2021-05-18\Regionalt_DB
2021-05-18

In [3]:
# Load the data
# fulldf = pd.read_csv(latestdir+'/01_noegle_tal.csv',delimiter = ';',dtype=str,encoding='latin-1') 
# fulldf = pd.read_csv(latestdir+'/05_bekraeftede_tilfaelde_doede_pr_region_pr_alders_grp.csv',delimiter = ';',dtype=str,encoding='latin-1') 
# fulldf = pd.read_csv(latestdir+'/11_noegletal_pr_region_pr_aldersgruppe.csv',delimiter = ';',encoding='latin-1') 

fulldf = pd.read_csv(latestdir+'/03_bekraeftede_tilfaelde_doede_indlagte_pr_dag_pr_koen.csv',delimiter = ';',encoding='latin-1')

In [4]:
# fulldf[fulldf.Aldersgruppe == '20-29']['Bekræftede tilfælde'].sum()
# fulldf['Bekræftede tilfælde'].sum()

In [5]:
df = pd.read_csv(latestdir+'/03_bekraeftede_tilfaelde_doede_indlagte_pr_dag_pr_koen.csv',delimiter = ';',encoding='latin-1') 
df["Prøvetagningsdato"] = df["Prøvetagningsdato"].astype('datetime64[D]')

In [6]:
# curDates = pd.to_datetime(df[df.Region == 'Hovedstaden']['Prøvetagningsdato'])
# curCases = df[df.Region == 'Hovedstaden']['Bekræftede tilfælde']

allDates = df['Prøvetagningsdato'].unique()

curDates = []
curCases = []

for da in allDates:

    # curDate = da
    curCount = df[df['Prøvetagningsdato']==da]['Bekræftede tilfælde'].sum()

    curDates.append(da)
    curCases.append(curCount)


# df[df['Prøvetagningsdato']==da]['Bekræftede tilfælde'].sum()

In [7]:
fig,ax1 = plt.subplots()

# # Show mondays
# testMonday = np.datetime64('2021-05-17')
# numMondays = 30
# for m in range(0,numMondays):
#     # ax1.bar(testMonday-np.timedelta64(m*7,'D'),curMax,color='grey',width=0.1)
#     ax1.axvline(x=testMonday-np.timedelta64(m*7,'D'),color='lightgrey')
    
curMax = max(curCases[-100:])*1.1

# Show weekend
testSat = np.datetime64('2021-01-02')
numWeeks = 30
for m in range(0,numWeeks):
    ax1.bar(testSat+np.timedelta64(m*7,'D') + np.timedelta64(12,'h'),curMax,color='grey',width=np.timedelta64(48,'h'))
    # ax1.axvline(x=testMonday-np.timedelta64(m*7,'D'),color='lightgrey')

ax1.bar(testSat+np.timedelta64(m*7,'D') + np.timedelta64(12,'h'),curMax,color='grey',width=np.timedelta64(48,'h'),label='Weekend')

ax1.plot(curDates,curCases,'k.:',linewidth=0.5,label='Data')
meanWidth = 7
ax1.plot(rnTime(curDates,meanWidth),rnMean(curCases,meanWidth),'k',label='7 dages løbende gennemsnit')



ax1.xaxis.set_major_formatter(mdates.DateFormatter('%d\n%b'))

ax1.set_xlim(left=np.datetime64('2021-02-01'), right=np.datetime64(date.today())+np.timedelta64(1,'D'))
ax1.set_ylim([0,curMax])

ax1.set_ylabel('Antal bekræftede tilfælde')


ax1.legend()

plt.tight_layout()

if saveFigures:
    plt.savefig('figs/CasesFromDashboard_Total')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [8]:
sum(curCases)

265519

In [9]:
curDates[-6:]

[numpy.datetime64('2021-05-12T00:00:00.000000000'),
 numpy.datetime64('2021-05-13T00:00:00.000000000'),
 numpy.datetime64('2021-05-14T00:00:00.000000000'),
 numpy.datetime64('2021-05-15T00:00:00.000000000'),
 numpy.datetime64('2021-05-16T00:00:00.000000000'),
 numpy.datetime64('2021-05-17T00:00:00.000000000')]

In [10]:
curCases[-6:]

[1148, 896, 865, 938, 906, 265]

In [11]:
df

,Region,Prøvetagningsdato,Køn,Bekræftede tilfælde,Døde,Indlæggelser,Kummuleret antal døde,Kummuleret antal bekræftede tilfælde,Kummuleret antal indlæggelser
0,Sjælland,2020-02-26,M,1,0,0,0,1,0
1,Hovedstaden,2020-02-27,M,1,0,0,0,2,0
2,Midtjylland,2020-02-28,M,1,0,0,0,3,0
3,Hovedstaden,2020-03-01,M,1,0,1,0,4,1
4,Hovedstaden,2020-03-02,M,2,0,1,0,6,2
5,Sjælland,2020-03-02,M,1,0,0,0,7,2
6,Syddanmark,2020-03-02,M,1,0,0,0,8,2
7,Hovedstaden,2020-03-03,F,1,0,0,0,9,2
8,Hovedstaden,2020-03-03,M,3,0,1,0,12,3
9,Hovedstaden,2020-03-04,M,2,0,0,0,14,3
10,Sjælland,2020-03-04,M,1,0,1,0,15,4
11,Hovedstaden,2020-03-05,F,4,1,1,1,19,5
12,Hovedstaden,2020-03-05,M,6,1,2,2,25,7
13,Nordjylland,2020-03-06,M,1,0,0,2,26,7
14,Sjælland,2020-03-06,M,1,0,1,2,27,8
15,Hovedstaden,2020-03-07,F,5,0,1,2,32,9
16,Hovedstaden,2020-03-07,M,3,0,1,2,35,10
17,Midtjylland,2020-03-07,M,1,0,0,2,36,10
18,Hovedstaden,2020-03-08,F,8,0,0,2,44,10
19,Midtjylland,2020-03-08,F,6,0,0,2,50,10
20,Sjælland,2020-03-08,F,2,0,1,2,52,11
21,Syddanmark,2020-03-08,F,1,0,0,2,53,11
22,Hovedstaden,2020-03-08,M,4,0,1,2,57,12
23,Midtjylland,2020-03-08,M,16,0,0,2,73,12
24,Nordjylland,2020-03-08,M,1,0,0,2,74,12
...,...,...,...,...,...,...,...,...,...
4086,Hovedstaden,2021-05-15,M,198,0,3,2491,264073,14698
4087,Midtjylland,2021-05-15,M,109,0,2,2491,264182,14700
4088,Nordjylland,2021-05-15,M,55,0,0,2491,264237,14700
4089,Sjælland,2021-05-15,M,64,0,0,2491,264301,14700
4090,Syddanmark,2021-05-15,M,47,0,0,2491,264348,14700
4091,Hovedstaden,2021-05-16,F,208,0,0,2491,264556,14700
4092,Midtjylland,2021-05-16,F,65,0,0,2491,264621,14700
4093,Nordjylland,2021-05-16,F,50,0,0,2491,264671,14700
4094,Sjælland,2021-05-16,F,47,0,1,2491,264718,14701
4095,Syddanmark,2021-05-16,F,45,0,2,2491,264763,14703
4096,Hovedstaden,2021-05-16,M,228,0,4,2491,264991,14707
4097,Midtjylland,2021-05-16,M,82,0,1,2491,265073,14708
4098,Nordjylland,2021-05-16,M,55,0,0,2491,265128,14708
4099,Sjælland,2021-05-16,M,74,0,0,2491,265202,14708
4100,Syddanmark,2021-05-16,M,52,0,0,2491,265254,14708
4101,Hovedstaden,2021-05-17,F,25,0,0,2491,265279,14708
4102,Midtjylland,2021-05-17,F,44,0,0,2491,265323,14708
4103,Nordjylland,2021-05-17,F,14,0,0,2491,265337,14708
4104,Sjælland,2021-05-17,F,4,0,0,2491,265341,14708
4105,Syddanmark,2021-05-17,F,22,0,0,2491,265363,14708
4106,Hovedstaden,2021-05-17,M,42,0,2,2491,265405,14710
4107,Midtjylland,2021-05-17,M,55,0,2,2491,265460,14712
4108,Nordjylland,2021-05-17,M,28,0,0,2491,265488,14712
4109,Sjælland,2021-05-17,M,6,0,0,2491,265494,14712
4110,Syddanmark,2021-05-17,M,25,0,1,2491,265519,14713

# Nye indlæggelser

In [12]:
admdf = pd.read_csv(latestdir+'/06_nye_indlaeggelser_pr_region_pr_dag.csv',delimiter = ';',encoding='latin-1')

In [28]:
admdf["Dato"] = admdf["Dato"].astype('datetime64[D]')

In [36]:

allAdmDates = admdf['Dato'].unique()

admDates = []
curAdm = []

for da in allAdmDates:

    curCount = admdf[admdf['Dato']==da]['Indlæggelser'].sum()

    admDates.append(da)
    curAdm.append(curCount)

In [37]:
admDates = np.array(admDates).astype('datetime64[D]')

In [38]:
fig,ax1 = plt.subplots()

ax1.plot(admDates,curAdm,'k.:',linewidth=0.5)
meanWidth = 7
ax1.plot(rnTime(admDates,meanWidth),rnMean(curAdm,meanWidth),'k')

ax1.xaxis.set_major_formatter(mdates.DateFormatter('%b\n%Y'))

ax1.set_ylim(bottom=0,top=70)
ax1.set_xlim(left=np.datetime64('2021-02-01'))
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [39]:
dfAdm = pd.read_excel('Admitted\Admitted.xlsx')
dfAdm = dfAdm.transpose()
dfAdm.columns = dfAdm.iloc[0]
dfAdm = dfAdm.drop(['Aldersgruppe']) 
curDates =  pd.to_datetime(dfAdm.index,format='%d_%m_%Y')
dfAdmDiff = dfAdm.diff().iloc[1:]
plotDates = curDates[1:]

In [40]:
# sumUp = []
# sumDates = []

# for k in np.arange(0,len(curAdm),7):

#     # print(np.sum(curAdm[k:k+7]))
#     curSum = np.sum(curAdm[k-6:k+1])
#     sumUp.append(curSum)
#     sumDates.append(admDates[k])

In [41]:
res = np.cumsum(curAdm)
toPlot = res[7:] - res[:-7]
toPlotDays = admDates[7:]

In [49]:
fig,ax1 = plt.subplots()

ax1.plot(admDates,curAdm,'k.:',linewidth=0.5)
meanWidth = 7
ax1.plot(rnTime(admDates,meanWidth),rnMean(curAdm,meanWidth),'k')

# ax1.plot(sumDates,np.divide(sumUp,7),'rs')
# ax1.plot(toPlotDays,np.divide(toPlot,7),'m')
ax1.plot(plotDates,np.divide(dfAdmDiff['I alt'],7),'*')

# ax1.plot(toPlotDays,toPlot,'m')
# ax1.plot(plotDates,dfAdmDiff['I alt'],'*')


ax1.xaxis.set_major_formatter(mdates.DateFormatter('%b\n%Y'))

ax1.set_ylim(bottom=0,top=70)
# ax1.set_ylim(bottom=0,top=70*7)
ax1.set_xlim(left=np.datetime64('2021-02-01'))
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [47]:
fig,ax1 = plt.subplots()

ax1.plot(admDates,np.cumsum(curAdm))
ax1.plot(admDates-np.datetime64(3,'D'),np.cumsum(curAdm))
ax1.plot(admDates-np.datetime64(4,'D'),np.cumsum(curAdm))
ax1.plot(admDates-np.datetime64(7,'D'),np.cumsum(curAdm))
ax1.plot(curDates,dfAdm['I alt'],'k*')


ax1.xaxis.set_major_formatter(mdates.DateFormatter('%b\n%Y'))

# ax1.set_ylim(bottom=0,top=70*7)
# ax1.set_xlim(left=np.datetime64('2021-01-01'))
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …