In [1]:
# Main notebook for investigating the parametersspace of vaccine vs cumulative incidence, from kommune-data
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.min_rows', 50)
import seaborn as sns


import matplotlib.pyplot as plt
%matplotlib widget
plt.rcParams['figure.figsize'] = (12,8)
# plt.rcParams["image.cmap"] = "Dark2"
# plt.rcParams['axes.prop_cycle'] = plt.cycler(color=plt.cm.Dark2.colors)
plt.rcParams["image.cmap"] = "tab10"
plt.rcParams['axes.prop_cycle'] = plt.cycler(color=plt.cm.tab10.colors)
fs_label = 16
parameters = {
                'axes.labelsize': fs_label,
                'axes.titlesize': fs_label+4,
                'xtick.labelsize': fs_label,
                'ytick.labelsize': fs_label, 
                'legend.fontsize': fs_label, 
                'lines.markersize': 10,
                'lines.linewidth': 3
             }
plt.rcParams.update(parameters)
%matplotlib widget
# plt.style.use('ggplot')
import matplotlib.colors as colors
# cmap = plt.cm.get_cmap('Dark2',len(ageGroups))
from matplotlib import cm # Colormaps

from matplotlib.colors import LinearSegmentedColormap

import locale
import matplotlib.dates as mdates
locale.setlocale(locale.LC_TIME,"Danish")
# ax = plt.gca()
# ax1.xaxis.set_major_formatter(mdates.DateFormatter('%b\n%Y'))
# # ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y \n %B'))

import os
# import csv
import math


from datetime import date


saveFigures = True
# saveFigures = False
print('saveFigures is set to: '+str(saveFigures))

print('Done loading packages')

def rnMean(data,meanWidth):
    return np.convolve(data, np.ones(meanWidth)/meanWidth, mode='valid')
def rnTime(t,meanWidth):
    return t[math.floor(meanWidth/2):-math.ceil(meanWidth/2)+1]

saveFigures is set to: True
Done loading packages

In [2]:
# Define paths
rootdir_data = os.getcwd() +"\\..\\DanskeData\\" 

path_data = rootdir_data + "ssi_data\\"
path_dash = rootdir_data + "ssi_dashboard\\"
path_vacc = rootdir_data + "ssi_vacc\\"

path_figs = os.getcwd() +"\\..\\Figures\\"

In [3]:

latestdir = list(os.walk(path_data))[-1][0]      
latestDate = pd.to_datetime(latestdir[-10:])  
         
latestDash = rootdir_data + f'\\ssi_dashboard\\SSI_dashboard_{latestDate:%Y-%m-%d}\\'
latestVacc = rootdir_data + f'\\ssi_vacc\\SSI_vacc_{latestDate:%Y-%m-%d}\\'
kortdf = pd.read_csv(latestDash+'Kommunalt_DB\\11_kort_pr_kommune.csv',delimiter = ';',dtype=str,encoding='latin1')
countdf = pd.read_csv(latestDash+'Kommunalt_DB\\17_tilfaelde_fnkt_alder_kommuner.csv',delimiter = ';',dtype=str,encoding='latin1')

vaccdf = pd.read_csv(latestVacc+'Vaccine_DB\\Vaccinationsdaekning_kommune.csv',delimiter = ';',dtype=str,encoding='latin1')

vaccdf['Antal borgere'] = pd.to_numeric(vaccdf['Antal borgere'])
vaccdf['Antal første vacc.'] = pd.to_numeric(vaccdf['Antal første vacc.'])
vaccdf['Antal faerdigvacc.'] = pd.to_numeric(vaccdf['Antal faerdigvacc.'])
vaccdf['Vacc.dækning foerste vacc. (%)'] = pd.to_numeric(vaccdf['Vacc.dækning foerste vacc. (%)'])
vaccdf['Vacc.dækning faerdigvacc. (%)'] = pd.to_numeric(vaccdf['Vacc.dækning faerdigvacc. (%)'])




sogndf = pd.read_csv(latestVacc+'Vaccination_sogne.csv',encoding='latin1')
sogndf['Inviterede_i_sognet'] = pd.to_numeric(sogndf['Inviterede_i_sognet'])
sogndf['Antal_inviteret_ikke_booket'] = pd.to_numeric(sogndf['Antal_inviteret_ikke_booket'],errors='coerce')

In [7]:
vaccdf.columns
# sogndf

,Kommune,Kommunenavn,Bekræftede tilfælde de seneste 7 dage,Testede de seneste 7 dage,Positivprocent 7 dage
0,101,København,4398,98293,"4,47"
1,147,Frederiksberg,678,14351,"4,72"
2,151,Ballerup,228,8593,"2,65"
3,153,Brøndby,264,5589,"4,72"
4,155,Dragør,78,2737,"2,85"
5,157,Gentofte,443,11559,"3,83"
6,159,Gladsaxe,368,10393,"3,54"
7,161,Glostrup,117,3429,"3,41"
8,163,Herlev,251,5588,"4,49"
9,165,Albertslund,124,4350,"2,85"
10,167,Hvidovre,463,10249,"4,52"
11,169,Høje Tåstrup,305,9984,"3,05"
12,173,Lyngby-Taarbæk,262,7524,"3,48"
13,175,Rødovre,256,6185,"4,14"
14,183,Ishøj,110,3305,"3,33"
15,185,Tårnby,305,8764,"3,48"
16,187,Vallensbæk,72,2526,"2,85"
17,190,Furesø,167,6548,"2,55"
18,201,Allerød,81,4494,"1,80"
19,210,Fredensborg,188,6004,"3,13"
20,217,Helsingør,290,8407,"3,45"
21,219,Hillerød,309,11030,"2,80"
22,223,Hørsholm,116,3197,"3,63"
23,230,Rudersdal,275,7698,"3,57"
24,240,Egedal,256,8515,"3,01"
25,250,Frederikssund,188,6268,"3,00"
26,253,Greve,339,9600,"3,53"
27,259,Køge,229,9779,"2,34"
28,260,Halsnæs,170,5175,"3,29"
29,265,Roskilde,431,16098,"2,68"
30,269,Solrød,122,5180,"2,36"
31,270,Gribskov,253,6702,"3,77"
32,306,Odsherred,91,4620,"1,97"
33,316,Holbæk,314,10771,"2,92"
34,320,Faxe,149,5701,"2,61"
35,326,Kalundborg,155,5102,"3,04"
36,329,Ringsted,175,4357,"4,02"
37,330,Slagelse,264,10112,"2,61"
38,336,Stevns,89,3397,"2,62"
39,340,Sorø,112,4630,"2,42"
40,350,Lejre,132,5040,"2,62"
41,360,Lolland,141,9082,"1,55"
42,370,Næstved,230,11129,"2,07"
43,376,Guldborgsund,234,10834,"2,16"
44,390,Vordingborg,245,7164,"3,42"
45,400,Bornholm,138,7963,"1,73"
46,410,Middelfart,58,5398,"1,07"
47,411,NaN,0,3,"0,00"
48,420,Assens,128,6417,"1,99"
49,430,Faaborg-Midtfyn,95,6972,"1,36"
50,440,Kerteminde,66,3633,"1,82"
51,450,Nyborg,106,5060,"2,09"
52,461,Odense,756,32597,"2,32"
53,479,Svendborg,153,10158,"1,51"
54,480,Nordfyn,122,5303,"2,30"
55,482,Langeland,27,1799,"1,50"
56,492,Ærø,3,470,"0,64"
57,510,Haderslev,125,6912,"1,81"
58,530,Billund,98,4450,"2,20"
59,540,Sønderborg,239,12803,"1,87"
60,550,Tønder,153,6121,"2,50"
61,561,Esbjerg,179,11976,"1,49"
62,563,Fanø,24,777,"3,09"
63,573,Varde,121,5124,"2,36"
64,575,Vejen,118,4696,"2,51"
65,580,Aabenraa,253,11277,"2,24"
66,607,Fredericia,137,6767,"2,02"
67,615,Horsens,316,12105,"2,61"
68,621,Kolding,202,11943,"1,69"
69,630,Vejle,246,16653,"1,48"
70,657,Herning,243,10689,"2,27"
71,661,Holstebro,134,8017,"1,67"
72,665,Lemvig,59,2786,"2,12"
73,671,Struer,51,2584,"1,97"
74,706,Syddjurs,103,4083,"2,52"
75,707,Norddjurs,59,3555,"1,66"
76,710,Favrskov,95,5198,"1,83"
77,727,Odder,64,3020,"2,12"
78,730,Randers,219,8522,"2,57"
79,740,Silkeborg,164,10774,"1,52"
80,741,Samsø,2,243,"0,82"
81,746,Skanderborg,296,8983,"3,30"
82,751,Århus,1100,35803,"3,07"
83,756,Ikast-Brande,114,5671,"2,01"
84,760,Ringkøbing-Skjern,192,7392,"2,60"
85,766,Hedensted,111,5541,"2,00"
86,773,Morsø,116,3484,"3,33"
87,779,Skive,76,4550,"1,67"
88,787,Thisted,265,7059,"3,75"
89,791,Viborg,218,11662,"1,87"
90,810,Brønderslev,46,4108,"1,12"
91,813,Frederikshavn,181,7967,"2,27"
92,820,Vesthimmerland,165,6222,"2,65"
93,825,Læsø,0,246,"0,00"
94,840,Rebild,63,3347,"1,88"
95,846,Mariagerfjord,120,5316,"2,26"
96,849,Jammerbugt,71,5013,"1,42"
97,851,Aalborg,492,22257,"2,21"
98,860,Hjørring,213,8700,"2,45"

# Example

In [5]:
# curKommune = 'Ishøj'
largestKommuner = vaccdf.sort_values('Antal borgere',ascending=False)['Kommunenavn'].values[0:10]
# largestKommuner = vaccdf.sort_values('Antal borgere',ascending=True)['Kommunenavn'].values[0:10]
lowestCoverage = vaccdf.sort_values('Vacc.dækning faerdigvacc. (%)')['Kommunenavn'].values[0:10]
# lowestCoverage = vaccdf.sort_values('Vacc.dækning faerdigvacc. (%)',ascending=False)['Kommunenavn'].values[0:10]

kommuneList = largestKommuner
# kommuneList = ['Ishøj','Albertslund','Glostrup','København']
kommuneList = lowestCoverage

for curKommune in kommuneList:
    
    print('-----------------------------------------------')
    print(curKommune)
    if (curKommune == 'Århus'):
        curSogndf = sogndf[sogndf.Kommune == 'Aarhus']
    elif (curKommune == 'Høje Tåstrup'):
        curSogndf = sogndf[sogndf.Kommune == 'Høje-Taastrup']
    else:
        curSogndf = sogndf[sogndf.Kommune == curKommune]
    curVaccdf = vaccdf[vaccdf.Kommunenavn == curKommune]
    # display(curSogndf)
    # display(curVaccdf)

    numBorger = int(curVaccdf['Antal borgere'].values[0])
    numInvite = int(curSogndf['Inviterede_i_sognet'].sum())
    numInvite_NotBooked = int(curSogndf['Antal_inviteret_ikke_booket'].sum()) 

    maxPossible = numInvite/numBorger
    print(f'Højest mulige vaccinationsdækning: {100*maxPossible:2.1f}%')
    curPossible = (numInvite-numInvite_NotBooked)/numBorger
    print(f'Forventet vaccinationsdækning: {100*curPossible:2.1f}%')
    vaccAccRate = (numInvite-numInvite_NotBooked)/numInvite
    print(f'Andel der har taget imod vaccinetilbud: {100*vaccAccRate:2.1f}%')

-----------------------------------------------
Ishøj
Højest mulige vaccinationsdækning: 85.4%
Forventet vaccinationsdækning: 64.6%
Andel der har taget imod vaccinetilbud: 75.6%
-----------------------------------------------
Brøndby
Højest mulige vaccinationsdækning: 86.1%
Forventet vaccinationsdækning: 68.0%
Andel der har taget imod vaccinetilbud: 79.0%
-----------------------------------------------
Albertslund
Højest mulige vaccinationsdækning: 86.0%
Forventet vaccinationsdækning: 69.3%
Andel der har taget imod vaccinetilbud: 80.6%
-----------------------------------------------
Høje Tåstrup
Højest mulige vaccinationsdækning: 85.7%
Forventet vaccinationsdækning: 69.1%
Andel der har taget imod vaccinetilbud: 80.6%
-----------------------------------------------
Vallensbæk
Højest mulige vaccinationsdækning: 83.2%
Forventet vaccinationsdækning: 70.3%
Andel der har taget imod vaccinetilbud: 84.4%
-----------------------------------------------
Rødovre
Højest mulige vaccinationsdækning: 85.1%
Forventet vaccinationsdækning: 72.0%
Andel der har taget imod vaccinetilbud: 84.6%
-----------------------------------------------
Hvidovre
Højest mulige vaccinationsdækning: 84.9%
Forventet vaccinationsdækning: 72.3%
Andel der har taget imod vaccinetilbud: 85.2%
-----------------------------------------------
Glostrup
Højest mulige vaccinationsdækning: 86.3%
Forventet vaccinationsdækning: 73.0%
Andel der har taget imod vaccinetilbud: 84.6%
-----------------------------------------------
Herlev
Højest mulige vaccinationsdækning: 85.4%
Forventet vaccinationsdækning: 73.1%
Andel der har taget imod vaccinetilbud: 85.5%
-----------------------------------------------
København
Højest mulige vaccinationsdækning: 87.6%
Forventet vaccinationsdækning: 73.7%
Andel der har taget imod vaccinetilbud: 84.2%

In [6]:
# sogndf.Kommune.unique()
# sogndf[sogndf.Kommune == 'Høje-Taastrup']

numBorger = int(vaccdf['Antal borgere'].sum())
numInvite = int(sogndf['Inviterede_i_sognet'].sum())
numInvite_NotBooked = int(sogndf['Antal_inviteret_ikke_booket'].sum()) 

print('Hele landet: ')
maxPossible = numInvite/numBorger
print(f'Højest mulige vaccinationsdækning: {100*maxPossible:2.1f}%')
curPossible = (numInvite-numInvite_NotBooked)/numBorger
print(f'Forventet vaccinationsdækning: {100*curPossible:2.1f}%')
vaccAccRate = (numInvite-numInvite_NotBooked)/numInvite
print(f'Andel der har taget imod vaccinetilbud: {100*vaccAccRate:2.1f}%')

# numBorger
# numInvite
# sogndf['Inviterede_i_sognet'].sum()
# vaccdf['Antal borgere'].values.sum()

Hele landet:
Højest mulige vaccinationsdækning: 87.3%
Forventet vaccinationsdækning: 76.8%
Andel der har taget imod vaccinetilbud: 88.0%

In [7]:
# testdf = vaccdf.copy()
# testdf.sort_values('Vacc.dækning faerdigvacc. (%)')['Kommunenavn'].values[0:10]
# kortdf 

curKommune = 'Ishøj'

curSogndf = sogndf[sogndf.Kommune == curKommune]
curVaccdf = vaccdf[vaccdf.Kommunenavn == curKommune]
# display(curSogndf)
# display(curVaccdf)

numBorger = int(curVaccdf['Antal borgere'].values[0])
numInvite = int(curSogndf['Inviterede_i_sognet'].sum())
numInvite_NotBooked = int(curSogndf['Antal_inviteret_ikke_booket'].sum()) 

maxPossible = numInvite/numBorger
print(f'Højest mulige vaccinationsdækning: {100*maxPossible:2.1f}%')
curPossible = (numInvite-numInvite_NotBooked)/numBorger
print(f'Forventet vaccinationsdækning: {100*curPossible:2.1f}%')
vaccAccRate = (numInvite-numInvite_NotBooked)/numInvite
print(f'Andel der har taget imod vaccinetilbud: {100*vaccAccRate:2.1f}%')


print(numBorger)
totCases = pd.to_numeric(countdf[countdf.Kommune == '183']['Bekræftede tilfælde']).sum()
print(totCases/numBorger)

Højest mulige vaccinationsdækning: 85.4%
Forventet vaccinationsdækning: 64.6%
Andel der har taget imod vaccinetilbud: 75.6%
23175
0.18110032362459547

In [8]:
countdf[countdf.Kommune == '183']

    Kommune Aldersgruppe Bekræftede tilfælde    Dagsdato
16      183          0-2                  77  2021-11-12
113     183          3-5                 144  2021-11-12
212     183         6-11                 444  2021-11-12
311     183        12-15                 312  2021-11-12
411     183        16-19                 294  2021-11-12
513     183        20-39                1423  2021-11-12
618     183        40-64                1238  2021-11-12
720     183        65-79                 215  2021-11-12
820     183          80+                  50  2021-11-12